*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
body{
    width: 700px;
    height: 700px;
    margin-top: 250px;
}

.corpo-violino{
    height: 700px;
    width: 365px;
    border: 1px solid black;
    border-radius: 100px 120px 110px 110px;
    box-shadow: inset 10px 12px #B24108;
    background-color: #AA3501;
    border: 2px solid #963201;
    margin: auto;
    margin-top: 400px;
}
.arco-direito{
    height: 270px;
    width: 490px;
    border-radius: 100%;
    border: 2px solid transparent;
    position: relative;
    top: -530px;
    left: 470px;
    background-color: white;
}
.arco-esquerdo{
    height: 200px;
    width: 250px;
    border-radius: 100%;
    border: 2px solid transparent;
    position: relative;
    top: -785px;
    right: 10px;
    background-color: white;
}
.braco{
    width: 50px;
    height: 600px;
    border: 1px solid rgb(46, 43, 43);
    position: absolute;
    left: 330px;
    background-color: rgb(29, 28, 28);
    top: 100px;
    border-radius: 10px 10px 0px 0px;
}

#line-1{
    height: 600px;
    width: 2px;
    margin-left: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
#line-2{
    height: 600px;
    width: 2px;
    margin-left: 17px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
#line-3{
    height: 600px;
    width: 2px;
    margin-left: 30px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
#line-4{
    height: 600px;
    width: 2px;
    margin-left: 40px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
#controlador{
    width: 80px;
    height: 100px;
    background-color: #c43b00;
    position: absolute;
    top: -95px;
    left: -15px;
    border-radius: 60px 5px 5px 10px;
}

#parafuso-1{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    left: 15px;
    bottom: 10px;
}
#parafuso-2{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    left: 25px;
    top: 45px;
}
#parafuso-3{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    left: 40px;
    top: 15px;
}


/*audios*/
.audios{
    margin-right: 0px;
}
/*primeira parte*/
#chapeu-d, #chapeu-y,#zero,#nove,#noventa-dois,#e,#E, #e6,#ed,
#ge,#i9,#p9,#pE,#pi8,#PI9,#pje,#PJE,#q,#qf,#qidp,#qp,#qpi,#S1e,
#se,#sq,#SQL,#t,#to8,#zqd,#yp,#yw,#yi8,#yi,#y9,#y,#ws,#WPJ,#wo,
#w,#uo8,#ts,#tp,#wood{
    position: absolute;
    top: 0%;
    right: 250px;
    margin-top: 20px;
    width: 60px;
    height: 40px;
    margin-right: 380px;

}
#chapeu-y{
    right: 300px;
    margin-right: 400px;
}
#zero{
    right: 200px;
    margin-right: 360px;
}
#nove{
    right: 150px;
    margin-right: 340px;

}
#noventa-dois{
    right: 100px;
    margin-right: 320px;
}
#e{
    right: 50px;
    margin-right: 300px;

}
#E{
    right: 3px;
    margin-right: 280px;

}


/*Segunda parte*/
#e6{
    margin-top: 70px;
    margin-right: 380px;
}
#ed{
    margin-top: 70px;
    right: 300px;
    margin-right: 400px;
}
#ge{
    right: 200px;
    margin-top: 70px;
    margin-right: 360px;
}
#i9{
    right: 150px;
    margin-top: 70px;
    margin-right: 340px;
}
#p9{
    margin-top: 70px;
    right: 100px;
    margin-right: 320px;
}
#pE{
    right: 50px;
    margin-top: 70px;
    margin-right: 300px;
}
#pi8{
    right: 3px;
    margin-top: 70px;
    margin-right: 280px;
}

/*terceira parte*/
#PI9{
    margin-top: 120px;
    margin-right: 380px;
}
#pje{
    right: 300px;
    margin-top: 120px;
    margin-right: 400px;
}
#PJE{
    right: 200px;
    margin-top: 120px;
    margin-right: 360px;
}
#q{
    margin-top: 120px;
    right: 150px;
    margin-right: 340px;
}
#qf{
    margin-top: 120px;
    margin-right: 320px;
    right: 100px;
}
#qidp{
    margin-top: 120px;
    right: 50px;
    margin-right: 300px;
}
#qp{
    margin-top: 120px;
    right: 3px;
    margin-right: 280px;
}

/*parte quatro*/
#qpi{
    margin-top: 170px;
    margin-right: 380px;
}
#S1e{
    margin-top: 170px;
    right: 300px;
    margin-right: 400px;
}
#se{    
    margin-top: 170px;
    right: 200px; 
    margin-right: 360px;
}
#sq{
    margin-top: 170px;
    right: 150px;
    margin-right: 340px;

}
#SQL{ 
    margin-top: 170px;
    right: 100px;
    margin-right: 320px;

}
#t{    
    margin-top: 170px;
    margin-right: 300px;
    right: 50px;
}
#to8{   
    margin-top: 170px;
    margin-right: 280px;
    right: 3px;
}


/*parte 5*/
#tp{
    margin-top: 220px;
    margin-right: 380px;
}
#ts{
    margin-top: 220px;
    right: 300px;
    margin-right: 400px;

}
#uo8{
    margin-top: 220px;
    right: 200px;
    margin-right: 360px;

}
#w{
    margin-top: 220px;
    right: 150px;
    margin-right: 340px;
}
#wo{
    margin-top: 220px;
    right: 100px;
    margin-right: 320px;

}
#WPJ{
    margin-top: 220px;
    right: 50px;
    margin-right: 300px;

}
#ws{    
    margin-right: 280px;
    margin-top: 220px;
    right: 3px;
}

/*parte 6*/
#y{
    margin-top: 270px;
    margin-right: 380px;
}
#y9{
    margin-top: 270px;
    right: 300px;
    margin-right: 400px;

}
#yi{
    margin-top: 270px;
    right: 200px;
    margin-right: 360px;

}
#yi8{
    margin-top: 270px;
    right: 150px;
    margin-right: 340px;

}
#yw{
    margin-top: 270px;
    right: 100px;
    margin-right: 320px;
}
#yp{
    margin-top: 270px;
    right: 50px;
    margin-right: 300px;

}
#zqd{
    margin-top: 270px;
    margin-right: 280px;
    right: 3px;
}

#wood{
    right: 320px;
    margin-top: 320px;
}